@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url('./Components/Avatar/Avatar.css');
@import url('./Components/Badge/Badge.css');
@import url('./Components/Alert/Alert.css');
@import url('./Components/Button/Button.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --default-color: #101011;
  --white: #ffffff;
  --red: #ff002b;
  --primary-color: #4446f0;
  --secondary-color: #f3f4f6;
  --alert-color: #f44336;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --nav-bg-color: #272727;
}

body {
  background-color: var(--default-color);
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  height: max-content;
}