@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url('./Components/Avatar/Avatar.css');
@import url('./Components/Badge/Badge.css');
@import url('./Components/Alert/Alert.css');
@import url('./Components/Button/Button.css');
@import url('./Components/Card/card.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

a {
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --default-color: #101011;
  --white: #ffffff;
  --red: #ff002b;
  --primary-color: #55E5F5;
  --primary-color-dark: #66e8f6;
  --secondary-color: #c3c5c7;
  --alert-color: #e65147;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --nav-bg-color: #272727;
  --header-color: #238ac5;
  --content-color: #b6bab3;
  --card-container-bg: #a5a2a2;
}

body {
  background-color: var(--default-color);
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  height: max-content;
}