/* -------- badge card--------- */
.card-container {
  width: 30rem;
  height: auto;
  color: #000000;
  border-radius: 1rem;
  background-color: var(--card-container-bg);
}

.card-container:hover {
  background-color: #b6b3b3;
}

.card-img-container {
  position: relative;
  display: flex;
}

.card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-badge {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.card-content {
  margin: 0rem 1.5rem;
  line-height: 3.5rem;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
}

.card-text {
  font-size: 2rem;
  font-weight: 400;
}

.card-subtext {
  font-size: 3rem;
}

.card-text-para {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 0rem;
}

.card-content > button {
  align-self: center;
  margin: 1rem 0rem;
  border: none;
}

/* ----- card dismiss----- */
.dismiss {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.dismiss:hover {
  color: var(--primary-color);
  transition: 0.5s ease-in-out;
}

/* ----- card with text overlay ------ */
.overlay-bottom {
  position: absolute;
  bottom: 0;
  color: var(--white);
  margin: 1rem 1.5rem;
}

.overlay-top {
  position: absolute;
  top: 0;
  color: var(--white);
  margin: 1rem 1.5rem;
}

/* ------ text only card ---------- */

.text-only {
  padding: 1rem;
}

/* ---- horizontal card----- */

.horizontal-card {
  display: flex;
  align-items: center;
  background-color: var(--card-container-bg);
  width: 30rem;
  color: #000000;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.horizontal-card-img {
  width: 12rem;
  height: 12rem;
}

.horizontal-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.horizontal-card-text > h1 {
  font-size: 4rem;
}

.horizontal-card-text > h2 {
  font-size: 2rem;
}

/* --------- vertical card --------- */

.vertical-card {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 30rem;
  background-color: var(--card-container-bg);
  color: #000000;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.vertical-card-img {
  min-height: 12rem;
  width: inherit;
}

.vertical-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

/* ------- box shadow ----------- */

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}