/* -------- label input--------- */
.input-group {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin: 2rem 1rem;
}

.input-group > input {
  margin: 1rem 0;
  width: 30rem;
  padding: 1rem;
}

.input-group > input:focus {
  outline: none;
}

.err {
  color: var(--alert-color);
}

.err-msg {
  color: var(--alert-color);
}

.input-group.err > input {
  border: 1px solid var(--alert-color);
}