/* -------------------- avatar----------------------- */

/* ---------- profile avatar------------ */
.avatar {
  border-radius: 50%;
  margin: 0 1rem;
  object-fit: cover;
  height: 9rem;
  width: 9rem;
  border: 2px solid var(--white);
}

/* -------------- sized avatar ---------- */
.avatar-lg {
  height: 11rem;
  width: 11rem;
}

.avatar-md {
  height: 9rem;
  width: 9rem;
}

.avatar-sm {
  height: 5rem;
  width: 5rem;
}

/* ---------------- square avatar--------- */
.sq-border {
  border-radius: 0.5rem;
}
