/* text-sizes */
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.x-sm-text {
  font-size: 1rem;
}

.sm-text {
  font-size: 1.5rem;
}

.normal-text {
  font-size: 2rem;
}

.lg-text {
  font-size: 3rem;
}

.x-lg-text {
  font-size: 4rem;
}

