/* ------- alert--------- */

/* ----------- simple alert ------------- */
.alert {
  align-items: center;
  border-radius: 0.4rem;
  border: none;
  display: flex;
  height: 4.5rem;
  justify-content: center;
  margin: 0.5rem;
  width: 40rem;
  letter-spacing: 0.2rem;
}

.primary-alert {
  background-color: var(--primary-color);
  color: var(--white);
}

.error-alert {
  background-color: var(--alert-color);
  color: var(--white);
}

.success-alert {
  background-color: var(--success-color);
  color: var(--white);
}

.warning-alert {
  background-color: var(--warning-color);
  color: var(--white);
}